 .log_out_btn{
    position: absolute;
    bottom: 0px;
    right:0px;
    padding: 10px;
  }
.box-users {
    font-family: SF Display;
    border: 2px solid #ccc;
    cursor: pointer;
    padding: 10px 16px;
    float: right;
    height: fit-content;
    border-radius: 28px;
    width: 70px;
    background-image: url(img/mem.svg);
    margin: 8px;
    font-size: 18px;
    background-repeat: no-repeat;
    background-position-x: 33px;
    background-position-y: 8px;
    background-color: white;
    margin-top: -44px;
    margin-right: 90px;
}
.done-mark {
    margin-right: 30px;
    background-image: url(img/check.svg);
    z-index: 999;
    /* padding: 20px; */
    /* position: absolute; */
}
  * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "SF Display";
  font-weight: 900;
  margin-left: 20px;
}

h2 {
    font-family: "SF Display";
    font-weight: 600;
    float: right;
    /*background: white;*/
    width: -webkit-fill-available;
    text-align: right;
    padding: 15px 25px;
    /*border-radius: 6px;*/
        border-radius: 0px;
    border-bottom: 2px solid #fafafa;
    margin-bottom: 20px;
}

body{
    background: #fafafa;
}

input.user_email {
    background: #ffffff;
    outline: none;
    height: fit-content;
    text-align: left;
    /*transition: all 200ms linear;*/
    border-radius: 6px;
    margin-bottom: 10px;
    /*cursor: pointer;*/
    border: 0px;
    padding: 20px;
    font-size: 16px;
    /*font-weight: 600;*/
    /*cursor: pointer;*/
    color: black;
    font-family: SF Display;
}
.add_user {
  display: none;
margin-top: -35px;
    float: right;
    margin-right: 90px;
    /*transition: all 400ms linear;*/
}
.project_title {
    font-size: 25px;
    font-weight: 600;
    font-family: SF Display;
    margin-left: 65px;
}
span.cur_proj {
    color: #908c8c;
    margin-left: 65px;
}

.back_pro{
    background-image: url(img/le.svg);
    height: 20px;
    width: 20px;
    padding: 29px 30px;
    background-repeat: no-repeat;
    background-size: 40px;
    position: absolute;
    transition: all 200ms linear;
    background-position-y: 5px;

}
.back_pro:hover{
      transform: rotate(7deg) skewX(12deg);
}
.create-column {
  font-family: 'SF Display';
  width: 25%;
  height: 50px;
  margin-left: 20px;
  background-color: #7a7aff;
    transition: 400ms all linear;
  box-shadow: 3px 3px #413939;
  border-radius: 3px;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
}
.column-container{
    display: inline-flex;
}
.column {
    transition: 400ms all linear;
    background-color: #ffffff;
    /* box-shadow: 3px 3px #413939; */
    width: 350px;
    /* height: 500px; */
    /* float: left; */
    padding: 10px;
    height: fit-content;
    margin: 20px;
    text-align: left;
    /* border: 5px solid rgba(58, 6, 6, 0.342); */
    border-radius: 10px;
}
.column-card-list {
  height: auto;
  min-height: 30px;
    transition: 400ms all linear;
  margin-top: 25px;
}

.btn-delete {
  width: 30px;
  height: 30px;
  border-radius: 3px;
  font-weight: bold;
}

.btn-delete:hover{
    transform: scale(1.3) skewX(-17deg);
    /*transform: ;*/
    /* box-shadow: 0px 0px 4px 1px #dedede; */
}

span.span-title {
    padding: 5px;
    font-weight: 600;
    color: grey;
    margin-top: 12px;
    /* float: left; */
    padding-top: 20px;
}
.card:hover{
    background: white;
    box-shadow: 0px 0px 6px 0px #e8e8e8;

}
.project_title {
    font-size: 25px;
    font-weight: 600;
    font-family: SF Display;
}
button.add_user_btn {
    background: none;
    border: 0px;
    margin-left: 20px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    color: darkgray;
    font-family: SF Display;
}

button.add_user_btn:hover {
  color: black;
}

.add-card:hover{
  color:black;
}
.proj_box {
    padding: 25px;
    text-align: left;
}
div#board {
    width: fit-content;
}
.add-card {
     font-family: SF DISPLAY;
    background: none;
    border: 0px;
    font-weight: 600;
    font-size: 15px;
    outline: none;
    margin-top: -5px;
    cursor: pointer;
    color: grey;
    float: right;
    background-image: url(img/add.svg);
    padding: 8px;
    background-repeat: no-repeat;
    padding-left: 30px;
    background-size: 15px;
    background-position-y: 9px;
    background-position-x: 5px;
}
span.cur_proj {
    color: #908c8c;
}
.card {
    /*background: #ffffff;*/
        background: #fafafa;
    height: fit-content;
        text-align: left;
    padding: 13px;
    transition: all 200ms linear;
    border-radius: 6px;
    margin-bottom: 10px;
    cursor: pointer;
}

.create-column:hover {
  background: #00c7e8;
}
img.dtask {
    height: 50px;
    margin: 30px;
    margin-bottom: 50px;
}
li {
  list-style-type: none;
}

.card-placeholder {
  background: red;
}

li .btn-delete {
    width: 20px;
    transition: 200ms all ease-out;
    height: 20px;
    cursor: pointer;
    border-radius: 24px;
    background: #fafafa;
    float: right;
    border: 0px;
    background-image: url(img/inv.svg);
    color: darkgrey;
    background-repeat: no-repeat;
    background-position: 5px 5px;
    content: '';
}

.card:active{
    transform: skewY(3deg) skewX(-18deg);
}

